<h1>Post edit</h1>

<form action="{{ path('post_edit', { 'id': post.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>