{% extends 'GhostPostBundle::layout.html.twig' %}

{% block body %}
    <div class="box box-gray">
        <div class="box-header">
            <h3>Updated topics</h3>
        </div>

        <div class="topics">
            {% for item in pager.getResults %}
                {% include 'GhostPostBundle:Topic:topic_list.html.twig' %}
            {% else %}
                <div class="topic">no topics.</div>
            {% endfor %}
        </div>

        {% if pager.isPaginable %}
            {{ paginate(pager, 'home') }}
        {% endif %}
    </div>
{% endblock %}