{% extends 'GhostPostBundle::layout.html.twig' %}

{% block body %}
    <div class="well well-small clearfix topics">
        <div class="well-header">
            <h3>Updated topics</h3>
        </div>

        <ul class="item-list unstyled">
            {% for item in pager.getResults %}
            {% include 'GhostPostBundle:Topic:item_list.html.twig' %}
            {% endfor %}
        </ul>

        {% if pager.isPaginable %}
            {{ paginate(pager, 'home') }}
        {% endif %}
    </div>
{% endblock %}