<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="ghost.event.topic" class="Ghost\PostBundle\EventListener\TopicEventListener">
            <argument type="service" id="ghost.manager.topic.default"/>
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="ghost.event.post" class="Ghost\PostBundle\EventListener\PostEventListener">
            <argument type="service" id="ghost.manager.post.default"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</container>