{% extends 'GhostUserBundle::layout.html.twig' %}

{% block body %}
    <div class="box box-large profile">
        <div class="row-fluid">
            <div class="span2 pull-left">
                <a href=""><img width="70" height="70"
                                src="{{ gravatar(user.email, 70) }}"
                                class="img-polaroid"/></a>

            </div>
            <div class="span10">
                <h1><a href="{{ path('user_show', {'username': user.username}) }}">@{{ user.username }}</a></h1>
                <p class="activity">Registered {{ user.created|date }}</p>
            </div>

        </div>
    </div>
{% endblock %}