{% for crumb in breadcrumbs %}
    {% if crumb.url %}
        <a href="{{ crumb.url }}">{{ crumb.text }}</a>
    {% else %}
        {{ crumb.text }}
    {% endif %}
    {% if not loop.last %}
        >
    {% endif %}
{% endfor %}