{% extends 'GhostUserBundle::layout.html.twig' %}

{% block user_body %}
    <div class="box-header">
        <h2>Sign Up</h2>
    </div>
    <div class="box-body">
        <form class="form-horizontal" action="{{ path("user_register") }}" method="post">
            {{ form_widget(form) }}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="submit">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}