{% extends 'GhostPostBundle::layout.html.twig' %}

{% block sidebar %}
    <div class="box box-large box-gray text-align-center">
        <a href="{{ path('topic_new', {'categoryAlias': category.alias}) }}"><i class="icon-plus"></i> Post a New Topic</a>
    </div>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="box box-gray">
        <div class="box-header">
            <h2>{{ category.name }}</h2>
        </div>

        <div class="topics">
            {% for item in pager.getResults %}
                {% include 'GhostPostBundle:Topic:topic_list.html.twig' %}
            {% else %}
                <div class="topic">Category is empty.</div>
            {% endfor %}
        </div>

        {% if pager.isPaginable %}
            {{ paginate(pager, 'topic_by_category', {'categoryAlias': category.alias}) }}
        {% endif %}
    </div>
{% endblock %}